
    <html>
        <head>
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
          </head>
          <body>
<h1 align="center"> ALL CUSTOMERS</h1>
    <% if(details!=null) { %>
    <div class="container">
    <table class="table table-striped">
    <tr>
        <th>NAME</th>
        <th>EMAIL </th>
        <th>AMOUNT</th>
    </tr>
    <% details.forEach(function(item){ %>
    <tr>
        <td><%= item.name%></td>
        <td><%= item.email %></td>
        <td><%= item.amount%></td>
    
    </tr>
    <% }) %>
    </table>
    </div>
    </body>
    <% } %>
    </html>